Options +FollowSymlinks
RewriteEngine On

RewriteRule ^(.+)-([0-9]+)-(message)-([0-9]+).([a-z]{2})$      /P5Local/index.php?action=$1&lang=$5&id=$2&return=$3&message=$4
RewriteRule ^(.+)-([0-9]+)-([a-z]{2})--([a-z]{2}).([a-z]{2})$   /P5Local/index.php?action=$1&lang=$5&id=$2&baseLang=$3&transLang=$4
RewriteRule ^(.+)-([0-9]+)-([a-z]{2}).([a-z]{2})$               /P5Local/index.php?action=$1&lang=$4&id=$2&version=$3
RewriteRule ^(.+)-([0-9]+).([a-z]{2})$                          /P5Local/index.php?action=$1&lang=$3&id=$2
RewriteRule	^([a-zA-Z]+).([a-z]{2})-([0-9]{12})$	            /P5Local/index.php?action=$1&lang=$2&token=$3
RewriteRule	^([a-zA-Z]+).([a-z]{2})$            	            /P5Local/index.php?action=$1&lang=$2