<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="dish_container">
            <h3 class="mb-3"><?= $this->_strings['ARTICLE_TRAD_TRANSLATE_TITLE'] ?> (<?= $_GET['transLang'] ?>)</h3>
            <form method="POST">
                <label for="articleTitle"><h4 class="display-4"><u><?= $this->_strings['ARTICLE_TRAD_TITLE_DESCRIPTION'] ?></u></h4></label>
                <p><input id="articleTitle" class="input_trad" type="text" name="articleTitle" /></p>

                <label for="articleContent"><h4 class="display-4"><u><?= $this->_strings['ARTICLE_TRAD_CONTENT_DESCRIPTION'] ?></u></h4></label>
                <textarea id="articleContent" class="my-3 textarea_trad" name="articleContent"></textarea>

                <p><input type="submit" value="<?= $this->_strings['ARTICLE_TRAD_SUBMIT'] ?>" /></p>
            </form>
        </div>
        
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="dish_container">
            <h3 class="mb-3"><?= $this->_strings['ARTICLE_TRAD_MODEL_TITLE'] ?> (<?= $_GET['baseLang'] ?>)</h3>
            <h4 class="display-4"><u><?= $this->_strings['ARTICLE_TRAD_TITLE_DESCRIPTION'] ?></u></h4>
            <h4><?= $this->referenceArticle->Title() ?></h4>
            <h4 class="display-4"><u><?= $this->_strings['ARTICLE_TRAD_CONTENT_DESCRIPTION'] ?></u></h4>
            <?= $this->referenceArticle->Content() ?>
        </div>
    </div>
</div>

<?php var_dump($_GET, $this->referenceArticle) ?>

<?php

if(!empty($_POST))
{
    var_dump($_POST);
}

?>

<script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
<script>tinymce.init({ selector:"textarea", entity_encoding : "raw"});</script>