<hr class="commentary-bound" />

<?php foreach($this->users as $user) : ?>

<div class="row">
    <div class="col-4">
        <div class="row article_authorContainer">
            <p class="col-12"><img class="article_authorAvatar" src="<?= 'Ressources/img/avatars/'.$user->Avatar() ?>" /></p>
            <p class="col-12 article_authorName"><?= $user->Name() ?></p>
        </div>
    </div>
    <div class="col-4">
        <p class="user_title"><?= $user->email() ?></p>
    </div>
    <div class="col-4">

    <?php if($user->isAdmin()) : ?>
        <p class="user_title"><?= $this->_strings['BACKUSERS_ADMIN'] ?></p>
    <?php else : ?>

        <?php if($user->isCooker()) : ?> 
        <p><?= $this->_strings['BACKUSERS_COOKER'] ?></p>
        <?php endif ?>

        <?php if($user->isWriter()) : ?> 
        <p><?= $this->_strings['BACKUSERS_WRITER'] ?></p>
        <?php endif ?>

        <?php if($user->isTranslator()) : ?> 
        <p><?= $this->_strings['BACKUSERS_TRANSLATOR'] ?></p>
        <?php endif ?>

        <?php if($user->isBanned()) : ?> 
        <p class="text-danger"><?= $this->_strings['BACKUSERS_BANNED'] ?></p>
        <?php endif ?>
    <?php endif ?>
    </div>
</div>

    <?php if(!$user->isAdmin()) : ?>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <?php if($user->isCooker()) : ?>
        <a class="ingredient_button" href="demoteCooker-<?= $user->Id() ?>.<?= $_GET['lang'] ?>"><?= $this->_strings['BACKUSERS_DEMOTE_COOKER_LINK'] ?></a>
        <?php else : ?>
        <a class="ingredient_button" href="promoteCooker-<?= $user->Id() ?>.<?= $_GET['lang'] ?>"><?= $this->_strings['BACKUSERS_PROMOTE_COOKER_LINK'] ?></a>
        <?php endif ?>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <?php if($user->isWriter()) : ?>
        <a class="ingredient_button" href="demoteWriter-<?= $user->Id() ?>.<?= $_GET['lang'] ?>"><?= $this->_strings['BACKUSERS_DEMOTE_WRITER_LINK'] ?></a>
        <?php else : ?>
        <a class="ingredient_button" href="promoteWriter-<?= $user->Id() ?>.<?= $_GET['lang'] ?>"><?= $this->_strings['BACKUSERS_PROMOTE_WRITER_LINK'] ?></a>
        <?php endif ?>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <?php if($user->isTranslator()) : ?>
        <a class="ingredient_button" href="demoteTranslator-<?= $user->Id() ?>.<?= $_GET['lang'] ?>"><?= $this->_strings['BACKUSERS_DEMOTE_TRANSLATOR_LINK'] ?></a>
        <?php else : ?>
        <a class="ingredient_button" href="promoteTranslator-<?= $user->Id() ?>.<?= $_GET['lang'] ?>"><?= $this->_strings['BACKUSERS_PROMOTE_TRANSLATOR_LINK'] ?></a>
        <?php endif ?>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <?php if($user->isBanned()) : ?>
        <a class="ingredient_button" href="debanUser-<?= $user->Id() ?>.<?= $_GET['lang'] ?>"><?= $this->_strings['BACKUSERS_DEBAN_LINK'] ?></a>
        <?php else : ?>
        <a class="ingredient_button" href="banUser-<?= $user->Id() ?>.<?= $_GET['lang'] ?>"><?= $this->_strings['BACKUSERS_BAN_LINK'] ?></a>
        <?php endif ?>
    </div>
</div>

    <?php endif ?>

<hr class="commentary-bound" />

<?php endforeach ?>