<p><?= $this->_strings['DIETS_PRESENTATION'] ?></p>

<form method="POST" class="dishEditor_form" action="diet.<?= $_GET['lang'] ?>">

    <p><?= $this->_strings['DIETS_GENDER_QUESTION'] ?></p>

    <label for="user_gender_answer_1"><?= $this->_strings['DIETS_MALE_ANSWER'] ?></label>
    <input type="radio" id="user_gender_answer_1" name="user_gender" value="male" required />

    <label for="user_gender_answer_2"><?= $this->_strings['DIETS_FEMALE_ANSWER'] ?></label>
    <input type="radio" id="user_gender_answer_2" name="user_gender" value="female" required />

    <p style="margin-top: 1em;"><?= $this->_strings['DIETS_TYPE_QUESTION'] ?></p>

    <select name="diet_type" required>
        <option value="normal"><?= $this->_strings['DIETS_TYPE_NORMAL'] ?></option>
        <option value="vegetarian"><?= $this->_strings['DIETS_TYPE_VEGETARIAN'] ?></option>
        <option value="vegan"><?= $this->_strings['DIETS_TYPE_VEGAN'] ?></option>
        <option value="pesco-vegetarian"><?= $this->_strings['DIETS_TYPE_PESCO_VEGETARIAN'] ?></option>
        <option value="pollotarian"><?= $this->_strings['DIETS_TYPE_POLLOTARIAN'] ?></option>
        <option value="restriction"><?= $this->_strings['DIETS_TYPE_RESTRICTION'] ?></option>
        <option value="low_calories"><?= $this->_strings['DIETS_TYPE_LOW_CALORIES'] ?></option>
    </select>
    
    <p class="lead" id="normal-feedback"><?= $this->_strings['DIETS_NORMAL_FEEDBACK'] ?></p>
    <p class="lead" id="vegetarian-feedback"><?= $this->_strings['DIETS_VEGETARIAN_FEEDBACK'] ?></p>
    <p class="lead" id="vegan-feedback"><?= $this->_strings['DIETS_VEGAN_FEEDBACK'] ?></p>
    <p class="lead" id="pesco-vegetarian-feedback"><?= $this->_strings['DIETS_PESCO_VEGETARIAN_FEEDBACK'] ?></p>
    <p class="lead" id="pollotarian-feedback"><?= $this->_strings['DIETS_POLLOTARIAN_FEEDBACK'] ?></p>
    <p class="lead" id="restriction-feedback"><?= $this->_strings['DIETS_RESTRICTION_FEEDBACK'] ?></p>
    <p class="lead" id="low-calories-feedback"><?= $this->_strings['DIETS_LOW_CALORIES_FEEDBACK'] ?></p>

    <p style="margin-top: 1em;"><input type="submit" value="<?= $this->_strings['DIETS_SUBMIT'] ?>" /></p>
</form>

<script src="Ressources/js/dietsFeedback.js"></script>