<!DOCTYPE html>
<html>
    <head>
        <!--Titre-->
        <title><?= $title ?></title>
        <!--logo-->
        <link rel="icon" href="Ressources/img/logo.png" />
        <!--Meta-->
        <meta charset="utf-8" />
        <!--APIs-->
        <!--Styles-->
        <link rel="stylesheet" href="Ressources/css/bootstrap.css" />
        <link rel="stylesheet" href="Ressources/css/styles.css" />
        <script src="Ressources/js/jQuery.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
        <script src="Ressources/js/bootstrap.js"></script>
    </head>
    <body>
        <section class="section_main">
            <h1 style="margin-top: 0;"><?= $this->_strings['TEMPLATE_MAIN_TITLE'] ?></h1>
            <h2><?= $this->_strings['TEMPLATE_MAIN_SUBTITLE'] ?></h2>

            <div class="row home_link_container" style="margin-top: 50px">
                <div class="col-4"></div>
                <div class="col-2"><a class="link home_link" href="home.<?= $_GET['lang'] ?>"><?= $this->_strings['DIET_TEMPLATE_HOME_LINK'] ?></a></div>
                <div class="col-2"><a class="link home_link" href="v.<?= $_GET['lang'] ?>"><?= $this->_strings['DIET_TEMPLATE_DOWNLOAD_LINK'] ?></a></div>
                <div class="col-4"></div>
            </div>
            <?= $content ?>
        </section>
    </body>
</html>
