<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="dish_container">
            <h3 class="mb-3"><?= $this->_strings['DISH_TRAD_TRANSLATE_TITLE'] ?> (<?= $_GET['transLang'] ?>)</h3>
            <form method="POST">
                <label for="dishName"><h4 class="display-4"><u><?= $this->_strings['DISH_TRAD_TITLE_DESCRIPTION'] ?></u></h4></label>
                <p><input id="dishName" class="input_trad" type="text" name="dishName" required /></p>

<?php $i = 1 ?>
<?php foreach($this->referenceDish->Steps() as $step) : ?>

                <label for="dishStep<?= $i ?>"><h4 class="display-4"><u><?= $this->_strings['DISH_TRAD_STEP_DESCRIPTION'] ?> <?= $i ?></u></h4></label>
                <textarea id="dishStep<?= $i ?>" class="my-3" name="dishStep<?= $i ?>" required></textarea>

    <?php $i++; ?>
<?php endforeach ?>

                <p><input type="submit" value="<?= $this->_strings['ARTICLE_TRAD_SUBMIT'] ?>" /></p>
            </form>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="dish_container">
            <h3 class="mb-3"><?= $this->_strings['DISH_TRAD_MODEL_TITLE'] ?> (<?= $_GET['baseLang'] ?>)</h3>
            <h4 class="display-4"><u><?= $this->_strings['DISH_TRAD_TITLE_DESCRIPTION'] ?></u></h4>
            <p><?= $this->referenceDish->Name() ?></p>

<?php $i = 1 ?>
<?php foreach($this->referenceDish->Steps() as $step) : ?>

                <h4 class="display-4"><u><?= $this->_strings['DISH_TRAD_STEP_DESCRIPTION'] ?> <?= $i ?></u></h4>
                <p><?= $step ?></p>

    <?php $i++; ?>
<?php endforeach ?>

        </div>
    </div>
</div>

<?php var_dump($_GET, $this->referenceDish->Steps()) ?>

<?php 

if(!empty($_POST))
{
    var_dump($_POST);
}

?>