<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top: 2em">
        <p><?= $this->_strings['HOME_DESCRIPTION_1'] ?></p>
        <p><?= $this->_strings['HOME_DESCRIPTION_2'] ?></p>
        <div class="row home_link_container" style="margin-top: 50px">
            <div class="col-6"><a class="link home_link" href="diets.<?= $_GET['lang'] ?>"><?= $this->_strings['HOME_DIETS_LINK'] ?></a></div>
            <div class="col-6">

<?php if(empty($_SESSION['username'])) : ?>
                <a class="link home_link" href="register.<?= $_GET['lang'] ?>"><?= $this->_strings['HOME_DIETS_SHARE_LINK'] ?></a>
<?php else : ?>
                <a class="link home_link" href="dishEditor.<?= $_GET['lang'] ?>"><?= $this->_strings['HOME_DIETS_SHARE_LINK'] ?></a>
<?php endif ?>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top: 2em">
        <h3><?= $this->_strings['HOME_DESCRIPTION_3'] ?></h3>

<?php foreach($this->_recentDishes as $dish) : ?>

        <div class="row">
            <a class="dish_container" href="dish-<?= $dish->Id() ?>.<?= $_GET['lang'] ?>">
                <h3><?= $dish->Name() ?></h3>

            <?php if($dish->Type() == 'breakfast') : ?>
                <h4><?= $this->_strings['DISH_EDITOR_BREAKFAST'] ?></h4>
            <?php elseif($dish->Type() == 'starter') : ?>
                <h4><?= $this->_strings['DISH_EDITOR_STARTER'] ?></h4>
            <?php elseif($dish->Type() == 'mainDish-a') : ?>
                <h4><?= $this->_strings['DISH_EDITOR_MAIN_DISH_A'] ?></h4>
            <?php elseif($dish->Type() == 'mainDish-b') : ?>
                <h4><?= $this->_strings['DISH_EDITOR_MAIN_DISH_B'] ?></h4>
            <?php elseif($dish->Type() == 'dessert') : ?>
                <h4><?= $this->_strings['DISH_EDITOR_DESSERT'] ?></h4>
            <?php endif ?>

                <div class="row">
                    <div class="col-12"><img class="dish_illustration" src="<?= 'Ressources/img/dishes/'.$dish->Image() ?>" /></div>
                </div>

                <div class="row">
                    <p class="col-12"><?= $dish->Author()->Name(); ?></p>
                </div>

                <div class="row">
                    <span class="col-4 icon icon_like"><?= $dish->Likes() ?></span>
                    <span class="col-4 icon icon_dislike"><?= $dish->Dislikes() ?></span>
                    <span class="col-4 icon icon_commentary"><?= count($dish->Comments()) ?></span>
                </div>
            </a>
        </div>

<?php endforeach ?>

<!--  -->

<?php foreach($this->_recentArticles as $article) : ?>

        <div class="row">
            <a class="dish_container" href="article-<?= $article->Id() ?>.<?= $_GET['lang'] ?>">
                <h3><?= $article->Title() ?></h3>
                <h4><?= $article->Category()->Name() ?></h4>

                <div class="row">
                    <div class="col-12"><img class="dish_illustration" src="Ressources/img/articles/<?= $article->Image() ?>" /></div>
                </div>
                <div class="row">
                    <p class="col-12"><?= $article->Author()->Name(); ?></p>
                </div>

                <div class="row">
                    <span class="col-4 icon icon_like"><?= $article->Likes() ?></span>
                    <span class="col-4 icon icon_dislike"><?= $article->Dislikes() ?></span>
                    <span class="col-4 icon icon_commentary"><?= count($article->Comments()) ?></span>
                </div>
            </a>
        </div>

<?php endforeach ?>

    </div>
</div>