<div class="info">
    <p><?= $this->_strings['INGREDIENT_EDITOR_DESCRIPTION'] ?></p>
</div>

<form method="POST" class="dishEditor_form" enctype="multipart/form-data">
    <p>
        <label for="ingredient_name"><?= $this->_strings['INGREDIENT_EDITOR_NAME_LABEL'] ?></label>
        <input type="text" id="ingredient_name" name="ingredient_name" required />
    </p>

    <p>
        <label for="ingredient_calories"><?= $this->_strings['INGREDIENT_EDITOR_CALORIES_LABEL'] ?></label>
        <input type="number" id="ingredient_calories" name="ingredient_calories" min="0" max="999" required />
    </p>

    <p>
        <label for="ingredient_unit_weight"><?= $this->_strings['INGREDIENT_EDITOR_UNIT_LABEL'] ?></label>
        <input type="number" id="ingredient_unit_weight" name="ingredient_unit_weight" min="0" max="2000" required />
    </p>

    <p>
        <label for="ingredient_image"><?= $this->_strings['INGREDIENT_EDITOR_IMAGE_LABEL'] ?></label>
        <input type="file" id="ingredient_image" name="ingredient_image" accept=".jpg, .jpeg, .png, .tiff, .gif" required />
    </p>

    <hr class="commentary-bound" />

    <p><?= $this->_strings['INGREDIENT_EDITOR_IS_POULTRY'] ?></p>
    <p>
        <label for="isPoultry"><?= $this->_strings['INGREDIENT_EDITOR_YES'] ?></label>
        <input type="radio" id="isPoultry" name="ingredient_isPoultry" value="1" required />
        <label for="isNotPoultry"><?= $this->_strings['INGREDIENT_EDITOR_NO'] ?></label>
        <input type="radio" id="isNotPoultry" name="ingredient_isPoultry" value="0" required />
    </p>

    <p><?= $this->_strings['INGREDIENT_EDITOR_IS_FISH'] ?></p>
    <p>
        <label for="isFish"><?= $this->_strings['INGREDIENT_EDITOR_YES'] ?></label>
        <input type="radio" id="isFish" name="ingredient_isFish" value="1" required />
        <label for="isNotFish"><?= $this->_strings['INGREDIENT_EDITOR_NO'] ?></label>
        <input type="radio" id="isNotFish" name="ingredient_isFish" value="0" required />
    </p>

    <p><?= $this->_strings['INGREDIENT_EDITOR_IS_SEAFOOD'] ?></p>
    <p>
        <label for="isSeaFood"><?= $this->_strings['INGREDIENT_EDITOR_YES'] ?></label>
        <input type="radio" id="isSeaFood" name="ingredient_isSeaFood" value="1" required />
        <label for="isNotSeaFood"><?= $this->_strings['INGREDIENT_EDITOR_NO'] ?></label>
        <input type="radio" id="isNotSeaFood" name="ingredient_isSeaFood" value="0" required />
    </p>

    <p><?= $this->_strings['INGREDIENT_EDITOR_IS_FROM_ANIMAL'] ?></p>
    <p>
        <label for="isFromAnimal"><?= $this->_strings['INGREDIENT_EDITOR_YES'] ?></label>
        <input type="radio" id="isFromAnimal" name="ingredient_isFromAnimal" value="1" required />
        <label for="isNotFromAnimal"><?= $this->_strings['INGREDIENT_EDITOR_NO'] ?></label>
        <input type="radio" id="isNotFromAnimal" name="ingredient_isFromAnimal" value="0" required />
    </p>

    <p><?= $this->_strings['INGREDIENT_EDITOR_IS_FRUIT'] ?></p>
    <p>
        <label for="isFruit"><?= $this->_strings['INGREDIENT_EDITOR_YES'] ?></label>
        <input type="radio" id="isFruit" name="ingredient_isFruit" value="1" required />
        <label for="isNotFruit"><?= $this->_strings['INGREDIENT_EDITOR_NO'] ?></label>
        <input type="radio" id="isNotFruit" name="ingredient_isFruit" value="0" required />
    </p>

    <p><?= $this->_strings['INGREDIENT_EDITOR_IS_VEGETABLE'] ?></p>
    <p>
        <label for="isVegetable"><?= $this->_strings['INGREDIENT_EDITOR_YES'] ?></label>
        <input type="radio" id="isVegetable" name="ingredient_isVegetable" value="1" required />
        <label for="isNotVegetable"><?= $this->_strings['INGREDIENT_EDITOR_NO'] ?></label>
        <input type="radio" id="isNotVegetable" name="ingredient_isVegetable" value="0" required />
    </p>
        
    <hr class="commentary-bound" />
    
    <p><input type="submit" value="<?= $this->_strings['INGREDIENT_EDITOR_SUBMIT'] ?>" /></p>
</form>

<?php if($this->_ingredientIsSaved) : ?>

<p class="text-success"><?= $this->_strings['INGREDIENT_EDITOR_SUCCESS_1'] ?></p>
<p class="text-success"><?= $this->_strings['INGREDIENT_EDITOR_SUCCESS_2'] ?></p>

<?php endif ?>